<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>
    <ComponentGroup Id="Application_Components" Directory="AppFolder" >
      <Component Id="App_Files" Guid="{F1E00504-6CC7-4E1B-AF54-96D2EAF2FD13}">
        <File Id='_MALT200817.Explorer.exe'         Source='$(var.AppDirectory)\MALT200817.Explorer.exe' KeyPath='no'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>