<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="FragmentApplication">
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>
    <ComponentGroup Id="Application_Dfu_Components" Directory="AppFolder" >
      
      <!--
      <Component Id="Dfu_RegistryId" Guid="{B20C6B35-84F4-4447-923B-971F6F2EFAD4}" >
        <RemoveFolder Id="AppProgramsFolder" On='uninstall'  Directory='AppProgramsFolder'/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
      </Component>
      -->
      <Component  Guid="{59C6A671-4116-40A6-96C0-B53F50965A0F}">
        <File Name="MALT200817.DFU.exe" Source="$(var.AppDfuDirectory)\MALT200817.DFU.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="_MALT200817.DFU" Directory="AppProgramsFolder" WorkingDirectory="AppFolder" Icon="dfu.ico" Name="$(var.ProductName) DFU" Advertise="yes" />
          <Shortcut Id="DesktopShortcut"    Directory="DesktopFolder"  WorkingDirectory = "AppFolder"  Icon="dfu.ico"  Name="$(var.ProductName) DFU" Advertise="yes" />
        </File>
        <File Name="Konvolucio.MUDS150628.dll" Source="$(var.AppDfuDirectory)\Konvolucio.MUDS150628.dll" KeyPath="no" Checksum="yes"> </File>
        <File Id="Dfu_NiXnetDotNet.dll" Name="NiXnetDotNet.dll" Source="$(var.AppDfuDirectory)\NiXnetDotNet.dll" KeyPath="no" Checksum="yes"> </File>
        <File Id ="Dfu_nican.dll" Name="nican.dll" Source="$(var.AppDfuDirectory)\nican.dll" KeyPath="no" Checksum="yes"> </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>