<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>
    <ComponentGroup Id="Library_Components" Directory="AppDataLibraryFolder"  >

      <Component Id="Lib_Files" Guid="{D4F93D84-5422-441A-8B09-3F20906235D1}" >
          <File Id="_MALT132.xml" Source="$(var.AppDirectory)\Library\MALT132.xml"  Checksum="yes"/>
          <File Id="_MALT160T.xml" Source="$(var.AppDirectory)\Library\MALT160T.xml" Checksum="yes"/>
          <File Id="_MAL23THV.xml" Source="$(var.AppDirectory)\Library\MAL23THV.xml" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>