<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>


    <DirectoryRef Id="AppFolder">
      <Directory Id="ManualFolder" Name="manual">
        <Directory Id="ImagesFolder" Name="images"/>
        <Directory Id="ProductsFolder" Name="products">
          <Directory Id="malt132Folder" Name="malt132"/>
          <Directory Id="malt160tFolder" Name="malt160t"/>
          <Directory Id="malt16pinFolder" Name="malt16pin"/>
          <Directory Id="malt23thvFolder" Name="malt23thv"/>
          <Directory Id="malt40ioFolder" Name="malt40io"/>
        </Directory>
        <Directory Id="StyleFolder" Name="style"/>
      </Directory>
    </DirectoryRef>

      <ComponentGroup Id="Manual_Components">

      <Component Id="Manual_Images_Files" Directory="ImagesFolder" Guid="{6CE7A7CA-CAFF-4831-94D9-583EC4F17882}">
        <File Id="_logo.jpg" Source="$(var.ManualDirectory)\images\logo.jpg" KeyPath="no" Checksum="yes"/>
        <File Id="_logo_204x60.jpg" Source="$(var.ManualDirectory)\images\logo_204x60.jpg" KeyPath="no" Checksum="yes"/>
        <File Id="_todo.png" Source="$(var.ManualDirectory)\images\todo.png" KeyPath="no" Checksum="yes"/>
      </Component>
        
      <Component Id="Manual_Components_Files" Directory="ManualFolder" Guid="{E65A53C0-5279-49EE-A2A5-AD7BE95A6DA1}">
        <File Id="_index.html" Source="$(var.ManualDirectory)\index.html" KeyPath="no" Checksum="yes"/>
      </Component>
        
        <Component Id="Product_malt132_Files" Directory="malt132Folder" Guid="{1424DFE6-BAFD-45C3-9EF8-2DD7BADE342F}">
          <File Id="_malt132.html" Source="$(var.ManualDirectory)\products\malt132\malt132.html" KeyPath="no" Checksum="yes"/>
          <File Id="_malt132_001.png" Source="$(var.ManualDirectory)\products\malt132\malt132_001.png" KeyPath="no" Checksum="yes"/>
        </Component>
        
        <Component Id="Product_malt160t_Files" Directory="malt160tFolder" Guid="{B7C035F7-A9FD-44E8-BE18-B4E3881918C1}">
          <File Id="_malt160t.html" Source="$(var.ManualDirectory)\products\malt160t\malt160t.html" KeyPath="no" Checksum="yes"/>
          <File Id="_malt160t_001.png" Source="$(var.ManualDirectory)\products\malt160t\malt160t_001.png" KeyPath="no" Checksum="yes"/>
        </Component>

        <Component Id="Product_malt16pin_Files" Directory="malt16pinFolder" Guid="{420E5508-C280-41D3-827B-7BDF93B2CBD3}">
          <File Id="_malt16pin.html" Source="$(var.ManualDirectory)\products\malt16pin\malt16pin.html" KeyPath="no" Checksum="yes"/>
        </Component>

        <Component Id="Product_malt23thv_Files" Directory="malt23thvFolder" Guid="{DF38FF02-8341-4AA8-BB1E-A145B9B2F7DD}">
          <File Id="_malt23thv.html" Source="$(var.ManualDirectory)\products\malt23thv\malt23thv.html" KeyPath="no" Checksum="yes"/>
        </Component>

        <Component Id="Product_malt40io_Files" Directory="malt40ioFolder" Guid="{A4986240-47AA-4185-9454-DE1411350605}">
          <File Id="_malt40io.html" Source="$(var.ManualDirectory)\products\malt40io\malt40io.html" KeyPath="no" Checksum="yes"/>
        </Component>

        <Component Id="Style_Files" Directory="StyleFolder" Guid="{A895A835-8A1C-49E0-887D-B917345C23BA}">
          <File Id="_style.css" Source="$(var.ManualDirectory)\style\style.css" KeyPath="no" Checksum="yes"/>
        </Component>

      </ComponentGroup>
  </Fragment>
</Wix>