<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>

    <ComponentGroup Id="Service_Components" Directory="ServiceFolder" >
      <Component Id="Service_Files" Guid="{1671EC15-25C5-4A95-81DF-75EA3C371320}">
        <File Id='NiXnetDotNet.dll'         Source='$(var.ServiceDirectory)\NiXnetDotNet.dll' KeyPath='no'/>
        <File Id='MALT200817.Library.dll'         Source='$(var.ServiceDirectory)\MALT200817.Library.dll' KeyPath='no'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>