<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>

    <ComponentGroup Id="Service_Components" Directory="ServiceFolder" >
      <Component Id="Service_Files" Guid="{59C6A671-4116-40A6-96C0-B53F50965A0F}">
        <File Id='NiXnetDotNet.dll'         Source='$(var.ServiceDirectory)\NiXnetDotNet.dll' KeyPath='no'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>