<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>
    <ComponentGroup Id="AppProgramsFolderRemove_Components" Directory="AppFolder" >
     
      <Component Id="Registry_RegistryId" Guid="{0442B2E7-D530-4A66-A939-FE5ACFFB7D0F}" >
        <RemoveFolder Id="AppProgramsFolder" On='uninstall'  Directory='AppProgramsFolder'/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
      </Component>
    
    </ComponentGroup>
  </Fragment>
</Wix>